* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}

html {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/************************BASICS****************************/
.top-logo {
	max-height: 60px;
	margin: 1rem auto;
}

.topbar {
	background: #1f3d31;
	display: flex;
	justify-content: center;
	padding: .5%;
	flex-direction: column-reverse;
}

.topbar p {
	color: #ffffff;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}

a[href^="tel:"] {
	display: none;
}

.fade-bar {
	background: linear-gradient(to left, #ffffff00, #00000075, #00000075, #ffffff00);
	padding: 0 8%;
	height: 50px;
	opacity: .7;
}

.top-bar-right li, .top-bar-right a {
	text-decoration: none;
	color: black;
	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
	margin: 0 5%;
}

.logos {
	display: flex;
	list-style-type: none;
	align-items: center;
	flex-direction: column;
}

.logo {
	max-width: 450px;
	margin-left: 3%;
	width: 100%;
}

.mobile-logo {
	max-width: 450px;
	margin: 2% auto;
	width: 80%;
	display: block;
}

h1 {
	font-family: 'Crimson Text', serif;
	color: #31460D;
	font-size: 3rem;
}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #31460D;
	font-size: 1rem;
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #1E3D31;
}

h4 {
	font-family: 'Nunito', sans-serif;
	color: #4C8809;
}

h5 {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0 0 2% 0;
}

p {
	font-family: 'Nunito', sans-serif;
}

.desktop-menu {
	display: none;
}

main {
	background: #dbe0da;
	box-shadow: -1px 0 10px 5px #00000057;
}

footer {
	text-align: center;
	padding: 20px;
	margin-top: 2%;
	color: #ffffff;
	background: #1f3d31;
	font-family: 'Nunito', sans-serif;
	font-size: .9rem;
}

.img-container {
	display: block;
	margin: 10px auto;
	max-width: 400px;
	width: 100%;
	overflow:hidden;
}

.eagleton{
	width: 100%;
	transition: .1s;
}

.eagleton:hover{
	transform: scale(2.5) translate(-80px, 10px);
	transition: .1s;
}

footer figure figcaption {
	margin: 10px auto;
	max-width: 500px;
	width: 100%;
}
/********************END BASICS*************************/



/***********************HOME****************************/
.testimony {
	display: flex;
	flex-direction: column-reverse;
	margin: 2% 8%;
}

.testimony p {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	line-height: 2rem;
	align-self: center;
}

.testimony-img {
	object-fit: contain;
	align-self: center;
	width: 70%;
	max-width: 200px;
	}
}

.text-boxes {
	padding-bottom: 10px;
}

.more-info {
	box-shadow: -1px 0 3px 1px #00000057;
	margin: 0 0 8px 0;
	background: #bdc6c0;
	width: 100%;
	padding: 0 .8% 2% .8%;
}

.more-info h1 {
	padding-left: 4%;
}

.more-info p {
	margin: 2% 0;
}

.more-info .camplink{
	color: #307c16;
}

article {
	width: 90%;
	margin: auto;
}

article h2 {
	margin: 6% 0 0 0;
}

article a {
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	color: #31460D;
	font-weight: bold;
}

.article-img {
	max-width: 250px;
	margin: 2% 0;
	width: 100%;
}
/*********************END HOME**************************/



/**********************PARKS****************************/
.parks {
	margin: 10px 3%;
}

img.parks-pic {
  width: 100%;
  height: 100%;
  margin: 0 2% 0 0;
}

.parks-details section, .parks-side {
	box-shadow: -1px 0 7px 1px #00000057;
	background: #dbe0da;
	padding: 2%;
	margin: 0 0 2% 0;
}

.parks-details h3 {
	font-size: 1.4rem;
	padding-left: 12px;
}

.parks h4 {
	padding-top: 15px;
}

.amenities {
	background: #1E3D31;
	padding: .5rem;
	color: white;
}

.amenities-key {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.amenities-key section {
  display: flex;
	padding: 2%;
	width: 45%;
}

.green.box {
  background: #4C8809;
}

.yellow.box {
	background: #f5ee31;
}

.orange.box {
	background: #fbb042;
}

.red.box {
	background: #ff5722;
}

.amenities-colors {
	display: flex;
}

.amenities-colors div {
  margin: 0 .5rem 0 0;
}

.box {
  width: 25px;
  height: 25px;
  border-radius: 5px;
	margin: 0 2% 0 0;
}
/********************END PARKS**************************/



/**********************EVENTS***************************/
.events {
	padding: 2%;
	max-width: 750px;
	width: 90%;
	margin: 0 auto;
}

.events img {
  display: block;
  margin: 10px auto;
	width: 100%;
}

.events h3 {
	font-size: 1.3rem;
	padding-top: 5px;
	padding-bottom: 5px;
}

.events-text {
	margin: auto;
	display: flex;
	padding-bottom: 15px;
}

.events-list {
	padding: 2% 0 0 0;
}

.events-text a {
  text-decoration: none;
  color: #4C8809;
}

.text {
	margin: 0 0 0 2%;
}

.date {
	font-weight: bold;
	text-align: center;
	line-height: .8;
	padding-top: 9px;
}

.number {
  color: #4C8809;
	font-size: 350%;
}

.month {
	color: #1E3D31;
	font-size: 250%;
}
/********************END EVENTS**************************/



/**********************PEOPLE****************************/
.character {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
}

.character img {
  margin: 2% 2% 2% 0;
	width: 100%;
	height: 100%;
	max-width: 300px;
}

.whos-who {
    padding: 2%;
}

.whos-who h1 {
    text-align: center;
}
/********************END PEOPLE****************************/



/*********************SLIDER*******************************/
.slider-container {
  padding: 5%;
}

#slider-img {
  width: 100%;
  height: auto;
}
/*****************END SLIDER*******************************/



/******************HAMBURGER MENU**************************/
.hamburger{
	background:none;
	position:absolute;
	top:0;
	right:0;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#ffffff;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}

.cross{
	background:none;
	position:absolute;
	top:0px;
	right:0;
	padding:7px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:3em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size: 1em; width:100%; background:#f1f1f1; text-align:center; top: 3.4%; font-family: 'Crimson Text', serif;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#f1f1f1;}
.menu ul li a:hover {  color: #f1f1f1; text-decoration:none;}
.menu a{text-decoration:none; color:#f1f1f1;}
.menu a:hover{text-decoration:none; color:#f1f1f1;}
/***************END HAMBURGER MENU***********************/



/***************NAVIGATION ANIMATION*********************/
/* animation start */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}

/* complete the animation */
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
	transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: -5px;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/*
	put the "front" and "back" elements into place
*/
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #DBE0DA;
	padding: 15px 10px;
	color: #203D31;
	pointer-events: none;
	box-sizing: border-box;
	line-height: 1px;
}
/**********END NAVIGATION ANIMATION***************/



/***********NAVIGATION ANIMATION DESKTOP*********************/
/* animation start */
.three-d-desk {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;

}

/* complete the animation */
.three-d-desk:hover .three-d-box-desk,
.three-d-desk:focus .three-d-box-desk {
	transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box-desk {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: -5px;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/*
	put the "front" and "back" elements into place
*/
.front-desk {
	transform: rotatex(0deg) translatez(25px);
	top: 5px;
	left: -10px;
	line-height: 1px;
	padding: 15px 10px;
}

.back-desk {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
	left: -10px;
	padding: 5px 10px;
}

.front-desk, .back-desk {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: none;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
}
/**********END NAVIGATION ANIMATION DESKTOP***************/



/********************500 MEDIA QUERY**************************/
@media (min-width: 500px) {
	img.parks-pic {
    max-width: 40%;
		width: 400px;
	}

	.parks {
		display: flex;
	}

	.parks-details h3 {
		padding-left: 3%;
	}
}
/******************END 500 MEDIA QUERY************************/



/*********************720 MEDIA QUERY*************************/
@media (min-width: 720px) {
	.menu, .hamburger, .cross, .mobile-logo, .mobile-pnrlogo {
		display: none;
	}

	.desktop-menu {
		display: block;
		width: 90%;
		max-width: 900px;
		margin: 2% auto;
	}

	.desktop-menu ul {
		display: flex;
		justify-content: space-around;
	}

	.desktop-menu li {
		display: block;
	}

	.desktop-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.desktop-menu .top-bar-right ul li {
		padding: .5rem;
	}

	.topbar {
		justify-content: flex-end;
		flex-direction: row;
	}

	.logo{
		margin-left: 0;
	}

	.top-logo {
		margin: 0 2%;
	}

	a[href^="tel:"] {
		display: block;
		color: #ffffff;
		background: #477d36;
		text-decoration: none;
		padding: .4rem;
		margin: auto 2%;
	}


	main {
		max-width: 900px;
		margin: auto;
		width: 90%;
	}

	.testimony {
		flex-direction: row;
	}

	.testimony-img {
		margin: auto 2%;
		width: 70%;
		max-width: 200px;
	}

	.text-boxes {
		display: flex;
		justify-content: center;
		padding: 0 1% 2% 1%;
	}

	.more-info {
		width: 30%;
		margin: 5px;
	}
}
/*******************END 720 MEDIA QUERY**********************/



/*********************800 MEDIA QUERY*********************/
@media (min-width: 800px) {
	.character {
		flex-direction: row;
		width: 100%;
		align-items: flex-end;
	}

	.character img {
		width: 60%;
		margin: 2% 2% 0 2%;
		max-width: 300px;
	}

	.whos-who h1 {
    text-align: start;
		padding-left: 15px;
	}

	.parks {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.parks-page {
		display: flex;
		justify-content: space-between;
		padding: 2%;
	}

	.parks-details {
		background-color: #bfc1bf;
		display: block;
		width: 75%;
		height: 65vh;
		padding: 1em;
		overflow-y: scroll;
		text-align: center;
	}

	.parks-details h3 {
		padding-left: 0;
	}

	.parks-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		width: 25%;
}

	.parks-text {
		width: 90%;
		text-align: left;
		padding-top: 15px;
	}

	img.parks-pic {
	  max-width: 60%;
		width: 400px;
	}

	.parks-side {
    box-shadow: none;
    background: #dbe0da;
    padding: 0;
    margin: 0;
	}

	.amenities {
		margin: 0 1rem 0 0;
	}

	.amenities-key {
    display: block;
	}

	.amenities-key section {
		width: 100%;
		margin: 5% 0;
	}
}
/******************END 800 MEDIA QUERY*********************/



/********************1000 MEDIA QUERY*********************/
@media (min-width: 1000px) {
	.people {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
			justify-content: center;
	}

	.character {
		display: block;
		width: 30%;
		margin: 1%;
		flex-direction: column;
	}

	.character img {
		max-width: 600px;
		width: 100%;
		height: auto;
	}

	.whos-who h1{
		padding-left: 30px;
	}
}

/******************END 1000 MEDIA QUERY*********************/



/********************1080 MEDIA QUERY***********************/
@media (min-width: 1080px) {
	.events section {
		display: flex;
		margin: 2% 0;
		flex-direction: column;
	}

	.events img {
		width: 100%;
		margin: auto;
	}

	.events-text {
		margin: 15px auto;
	}
}
/*****************END 1080 MEDIA QUERY*********************/



/***************720 to 850 MEDIA QUERY*********************/
@media (min-width: 720px) and (max-width: 850px) {
	.fade-bar {
		width: 60%;
	}
}
/**************END 720 to 850 MEDIA QUERY******************/



/******************CSS ANIMATION***************************/
.lil-seb {
  position: absolute;
  top: 20px;
  right: -900px;
  animation: lilsebcross 11s .5s forwards linear;
}

@keyframes lilsebcross {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-2500px);
  }
}
