* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}

html {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-logo {
	max-height: 60px;
	margin: 1rem auto;
}

.topbar {
	background: #1f3d31;
	display: flex;
	justify-content: center;
	padding: .5%;
	flex-direction: column-reverse;
}

.topbar p {
	color: #ffffff;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}

a[href^="tel:"] {
	display: none;
}

.fade-bar {
	background: linear-gradient(to left, #ffffff00, #00000075, #00000075, #ffffff00);
	padding: 0 8%;
	height: 50px;
	opacity: .7;
}

.top-bar-right li, .top-bar-right a {
	text-decoration: none;
	color: black;
	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
}

.logos {
	display: flex;
	list-style-type: none;
	align-items: center;
	flex-direction: column;
}


.logo {
	max-width: 450px;
	margin-left: 3%;
	width: 100%;
}

.mobile-logo {
	max-width: 450px;
	margin: 2% auto;
	width: 80%;
	display: block;
}

/*
.pnrlogo {
	max-width: 350px;
	margin-left: 3%;
}
.mobile-pnrlogo {
	max-width: 350px;
	margin: 2% auto;
	width: 80%;
	display: block;
}
*/

h1 {
	font-family: 'Crimson Text', serif;
	color: #31460D;
	font-size: 2rem;
}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #31460D;
	font-size: 1rem;
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #1E3D31;
}

h4 {
	font-family: 'Nunito', sans-serif;
	color: #4C8809;
}

p {
	font-family: 'Nunito', sans-serif;
}

.testimony {
	display: flex;
	flex-direction: column-reverse;
	margin: 2% 8%;
}

.testimony p {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	line-height: 2rem;
	align-self: center;
}

.testimony-img {
	object-fit: contain;
	align-self: flex-start;
	margin: auto;
	max-width: 300px;
}

.desktop-menu {
	display: none;
}

main {
	background: #dbe0da;
	box-shadow: -1px 0 10px 5px #00000057;
}

.more-info {
	box-shadow: -1px 0 3px 1px #00000057;
	margin: 0 0 8px 0;
	background: #bdc6c0;
	width: 100%;
	padding: 0 .8% 2% .8%;
}

.more-info p {
	margin: 2% 0;
}

article {
	width: 90%;
	margin: auto;
}

article h2 {
	margin: 6% 0 0 0;
}

article a {
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	color: #31460D;
	font-weight: bold;
}

.article-img {
	max-width: 250px;
	margin: 2% 0;
	width: 100%;
}

footer {
	text-align: center;
	padding: 20px;
	margin-top: 2%;
	color: #ffffff;
	background: #1f3d31;
	font-family: 'Nunito', sans-serif;
	font-size: .9rem;
}

footer figure img {
	display: block;
	margin: 10px auto;
	max-width: 400px;
	width: 100%;
}

footer figure figcaption {
	margin: 10px auto;
	max-width: 500px;
	width: 100%;
}
/*========================================
*
*          Events
*
*
*=========================================*/
.events {
	padding: 2%;
}

.events h1 {
	text-align: center;
}

.events img {
    display: block;
    margin: 10px auto;
		max-width: 600px;
		width: 100%;
}

.events-text {
    max-width: 600px;
    margin: auto;
}

.events-list {
		padding: 2% 0 0 0;
}

.events-text a {
    text-decoration: none;
    color: #4C8809;
}
/*========================================
*
*           People
*
*
*=========================================*/
.character {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: auto;
}

.character img {
  margin: 2% 2% 2% 0;
	width: 100%;
	height: 100%;
	max-width: 300px;
}

.whos.who {
    padding: 2%;
}

.whos.who h1 {
    text-align: center;
}
/*========================================
*
*           Slider
*
*
*=========================================*/

.slider {
	margin: 0 auto;
	padding: 2%;
	height: 500px;
	max-width: 1130px;
	text-align: center;
}

.slide_viewer {
	height: 500px;
	max-width: 1130px;
	overflow: hidden;
	position: relative;
}

.slide_group {
	height: 100%;
	position: relative;
	width: 100%;
}

.slide {
	display: none;
	height: 500px;
	position: absolute;
	width: 100%;
}

.slide img {
	width: 100%;
}

.slide:first-child {
	display: block;
}

.slide:nth-of-type(1) {
	background: #D7A151;
}

.slide:nth-of-type(2) {
	background: #F4E4CD;
}

.slide:nth-of-type(3) {
	background: #C75534;
}

.slide:nth-of-type(4) {
	background: #D1D1D4;
}

.slide_buttons {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

a.slide_btn {
	color: #474544;
	font-size: 42px;
	margin: 0 0.175em;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
	color: #428CC6;
	cursor: pointer;
}

.directional_nav {
	height: 50px;
	margin: 0 auto;
	max-width: 940px;
	position: relative;
	top: -300px;
}

.previous_btn {
	bottom: 0;
	left: 100px;
	margin: auto;
	position: absolute;
	top: 0;
}

.next_btn {
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 100px;
	top: 0;
}

.previous_btn, .next_btn {
	cursor: pointer;
	height: 65px;
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	width: 65px;
}

.previous_btn:hover, .next_btn:hover {
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.previous_btn {
		left: 50px;
	}
	.next_btn {
		right: 50px;
	}
}

/*========================================
*
*           Hamburger Menu
*
*
*=========================================*/

.hamburger{
	background:none;
	position:absolute;
	top:0;
	right:0;
	line-height:45px;
	padding:5px 15px 0px 15px;
	color:#ffffff;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}

.cross{
	background:none;
	position:absolute;
	top:0px;
	right:0;
	padding:7px 15px 0px 15px;
	color:#999;
	border:0;
	font-size:3em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size: 1em; width:100%; background:#f1f1f1; text-align:center; top: 3.4%; font-family: 'Crimson Text', serif;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#f1f1f1;}
.menu ul li a:hover {  color: #f1f1f1; text-decoration:none;}
.menu a{text-decoration:none; color:#f1f1f1;}
.menu a:hover{text-decoration:none; color:#f1f1f1;}

/***********NAVIGATION ANIMATION*********************/

/* basic menu styles
.block-menu {
	display: block;
	background: #000;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 24px;
	padding: 15px 10px;
} */

/* animation start */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}

/* complete the animation */
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
	transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: -5px;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/*
	put the "front" and "back" elements into place
*/
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #DBE0DA;
	padding: 15px 10px;
	color: #203D31;
	pointer-events: none;
	box-sizing: border-box;
	line-height: 1px;
}

/**********END NAVIGATION ANIMATION***************/
/*========================================
*
*           720 Media Query
*
*
*=========================================*/
@media (min-width: 720px) {
	.menu, .hamburger, .cross, .mobile-logo, .mobile-pnrlogo {
		display: none;
	}

	.desktop-menu {
		display: block;
	}

	.desktop-menu li {
		display: inline-block;
	}

	.desktop-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1% 0;
	}

	.desktop-menu .top-bar-left {
		margin: 0 4%;
	}

	.desktop-menu .top-bar-right ul li {
		padding: .5rem;
	}

	.topbar {
		justify-content: flex-end;
		flex-direction: row;
	}

	.top-logo {
		margin: 0 2%;;
	}

	a[href^="tel:"] {
		display: block;
		color: #ffffff;
		background: #477d36;
		text-decoration: none;
		padding: .4rem;
		margin: auto 2%;
	}

	main {
		max-width: 720px;
		margin: auto;
		width: 90%;
	}

	.testimony {
		flex-direction: row;
	}

	.testimony-img {
		margin: auto 0 auto 2%;
	}

	.text-boxes {
		display: flex;
		justify-content: center;
		padding: 0 1% 2% 1%;
	}

	.more-info {
		width: 30%;
		margin: 3px;
	}
}

/***********NAVIGATION ANIMATION DESKTOP*********************/

/* basic menu styles
.block-menu {
	display: block;
	background: #000;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 24px;
	padding: 15px 10px;
} */

/* animation start */
.three-d-desk {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;

}

/* complete the animation */
.three-d-desk:hover .three-d-box-desk,
.three-d-desk:focus .three-d-box-desk {
	transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box-desk {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: -5px;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/*
	put the "front" and "back" elements into place
*/
.front-desk {
	transform: rotatex(0deg) translatez(25px);
	top: 5px;
	left: -10px;
	line-height: 1px;
	padding: 15px 10px;
}

.back-desk {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
	left: -10px;
	padding: 5px 10px;
}

.front-desk, .back-desk {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: none;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
}


/**********END NAVIGATION ANIMATION DESKTOP***************/

/*========================================
*
*           800 Media Query
*
*
*=========================================*/

@media (min-width: 800px) {
	.character {
		flex-direction: row;
		width: 100%;
		align-items: flex-end;
	}

	.character img {
		width: 60%;
		margin: 2% 2% 0 2%;
		max-width: 300px;
	}

.whos.who h1 {
    text-align: start;
	}
}

/*========================================
*
*           1000 Media Query
*
*
*=========================================*/

@media (min-width: 1000px) {
	.people {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
			justify-content: center;
	}

	.character {
		display: block;
		width: 30%;
		margin: 1%;
		flex-direction: column;
	}

	.character img {
		max-width: 600px;
		width: 100%;
		height: auto;
	}
}

@media (min-width: 1080px) {
	.events section {
		display: flex;
		margin: 2% 0;
		flex-direction: column;
	}

	.events img {
		width: 100%;
		margin: auto;
	}

	.events-text {
		margin: 15px auto;
	}
}
/*========================================
*
*           850-720 Media Query
*
*
*=========================================*/

@media (max-width: 850px) and (min-width: 720px) {
	.fade-bar {
		width: 60%;
	}
}
